In [39]:
from ttide.t_tide import t_tide
import ttide
import pandas as pd
import matplotlib
from matplotlib import pyplot as plt

In [ ]:
## todo data1m into data2y(?)

In [2]:
#load dataset, Time(UTC),prs(m),rad(m)
df2 = pd.read_csv('data2y.csv',sep=',', header=0, index_col=0, squeeze=True, parse_dates=True)
#non-null object to float64
df2['prs(m)'] = pd.to_numeric(df2['prs(m)'], errors='coerce')
#prs(m) looks more stable
df2.drop(df2.columns[[1]], axis=1, inplace=True)

s = df2.interpolate()
s.head()

                     prs(m)
Time(UTC)
2016-12-31 00:00:52   2.369
2016-12-31 00:01:53   2.360
2016-12-31 00:02:52   2.369
2016-12-31 00:03:53   2.361
2016-12-31 00:04:53   2.392

In [3]:
df2.index[0]

Timestamp('2016-12-31 00:00:52')

In [33]:
serie= s['prs(m)'] 
dt = 0.0166667
stime = df2.index[0]
lat = -33.02730833

In [42]:
1036988/60/24

720.1305555555556

In [34]:
out = t_tide(serie, dt, stime, lat)
#out = t_tide(dfp['prs(m) predictions'], dt=0.016, lat=np.array(-33.02730833))

/home/killgor/anaconda3/lib/python3.7/site-packages/ttide-0.3_exp-py3.7.egg/ttide/t_tide.py:345: FutureWarning: `rcond` parameter will change to the default of machine precision times ``max(M, N)`` where M and N are the input matrix dimensions.
To use the future default and silence this warning we advise to pass `rcond=None`, to keep using the old, explicitly pass `rcond=-1`.
  coef = np.linalg.lstsq(lhs, rhs)[0].T
/home/killgor/anaconda3/lib/python3.7/site-packages/numpy/lib/type_check.py:161: FutureWarning: `real` is deprecated and will be removed in a future version. To eliminate this warning for a Series `ser`, use `np.real(ser.to_numpy())` or `ser.to_numpy().real`.
  return val.real
/home/killgor/anaconda3/lib/python3.7/site-packages/numpy/lib/type_check.py:204: FutureWarning: `imag` is deprecated and will be removed in a future version. To eliminate this warning for a Series `ser`, use `np.imag(ser.to_numpy())` or `ser.to_numpy().imag`.
  return val.imag

-----------------------------------
nobs = 1036988
ngood = 1036987
record length (days) = 720.13
start time: 2016-12-31 00:00:52
rayleigh criterion = 1.0

Greenwich phase computed with nodal
                   corrections applied to amplitude
                   and phase relative to center time

x0= 2.31  xtrend= 0
var(data)= 0.14    var(prediction)= 0.02    var(residual)= 0.13
var(prediction)/var(data) (%) = 14.3

        tidal amplitude and phase with 95 % CI estimates
 tide      freq        amp      amp_err   pha      pha_err    snr
* SA    0.0001141     0.0463     0.017    244.10     32.48       7.7
* SSA   0.0002282     0.0490     0.021    200.23     26.18       5.6
  MSM   0.0013098     0.0020     0.015    346.22    249.85     0.018
  MM    0.0015122     0.0091     0.018    233.60     90.63      0.25
  MSF   0.0028219     0.0019     0.014    338.50    173.16     0.018
  MF    0.0030501     0.0030     0.013    146.03    198.86     0.055
  ALP1  0.0343966     0.0008     0.017    202.14    246.83     0.002
  2Q1   0.0357064     0.0014     0.018    352.81    272.09    0.0064
  SIG1  0.0359087     0.0023     0.016     47.59    256.65     0.021
  Q1    0.0372185     0.0019     0.015     88.64    221.59     0.016
  RHO1  0.0374209     0.0054     0.017    231.22    179.93       0.1
  O1    0.0387307     0.0029     0.017    128.83    223.30     0.031
  TAU1  0.0389588     0.0216     0.017    192.97     51.10       1.5
  BET1  0.0400404     0.0133     0.021    296.21    111.85      0.39
  NO1   0.0402686     0.0075     0.022    228.43    184.50      0.12
  CHI1  0.0404710     0.0011     0.018    198.46    242.95    0.0038
  PI1   0.0414385     0.0053     0.015     57.36    170.56      0.12
  P1    0.0415526     0.0069     0.015      8.58    153.19       0.2
  S1    0.0416667     0.0355     0.031    232.81     51.95       1.3
  K1    0.0417807     0.0253     0.024     89.23     58.95       1.1
  PSI1  0.0418948     0.0082     0.016    122.06    148.07      0.27
  PHI1  0.0420089     0.0197     0.021     31.30     66.99      0.88
  THE1  0.0430905     0.0171     0.022    263.92     91.44      0.62
  J1    0.0432929     0.0076     0.018    145.12    135.17      0.17
  SO1   0.0446027     0.0051     0.014    134.31    171.31      0.13
  OO1   0.0448308     0.0096     0.031    356.15    192.81     0.096
  UPS1  0.0463430     0.0053     0.026    241.33    244.84     0.042
  OQ2   0.0759749     0.0051     0.043    315.10    232.97     0.014
  EPS2  0.0761773     0.0073     0.034    185.34    198.67     0.048
  2N2   0.0774871     0.0075     0.036    190.43    185.82     0.044
  MU2   0.0776895     0.0030     0.031     68.98    264.59    0.0093
  N2    0.0789992     0.0068     0.032     30.51    194.25     0.044
  NU2   0.0792016     0.0183     0.034    180.73    136.64      0.28
* GAM2  0.0803090     0.1265     0.049    165.51     22.11       6.7
* H1    0.0803973     0.0975     0.043    137.41     28.45       5.2
  M2    0.0805114     0.0327     0.044    324.21     86.73      0.55
* H2    0.0806255     0.0830     0.050     10.04     36.75       2.8
* MKS2  0.0807396     0.0970     0.060     68.82     35.95       2.6
  LDA2  0.0818212     0.0692     0.055    204.08     42.45       1.6
  L2    0.0820236     0.0117     0.031    229.25    180.86      0.14
  T2    0.0832193     0.0070     0.034     74.94    226.01     0.043
  S2    0.0833333     0.0064     0.037     97.79    236.82     0.031
  R2    0.0834474     0.0187     0.035    198.69     99.66      0.28
  K2    0.0835615     0.0182     0.045     26.08    176.42      0.16
  MSN2  0.0848455     0.0075     0.035     30.27    204.09     0.047
  ETA2  0.0850736     0.0400     0.052    304.77     95.91      0.58
  MO3   0.1192421     0.0011     0.002    280.37    109.08      0.38
  M3    0.1207671     0.0006     0.001    190.33    157.39      0.19
  SO3   0.1220640     0.0007     0.002    183.12    138.82      0.18
  MK3   0.1222921     0.0003     0.001    106.40    195.65      0.06
  SK3   0.1251141     0.0010     0.002     62.40    129.44      0.36
  MN4   0.1595106     0.0004     0.001     67.05    147.09      0.17
  M4    0.1610228     0.0002     0.001    328.47    181.55      0.09
  SN4   0.1623326     0.0004     0.001    155.12    148.85      0.23
  MS4   0.1638447     0.0008     0.001     87.22     90.78      0.41
  MK4   0.1640729     0.0007     0.001    261.45    111.50      0.31
  S4    0.1666667     0.0006     0.001     34.05    119.79      0.29
  SK4   0.1668948     0.0006     0.001    255.46    142.04       0.3
  2MK5  0.2028035     0.0006     0.001    240.68    103.72      0.33
  2SK5  0.2084474     0.0003     0.001    267.82    168.20      0.11
  2MN6  0.2400221     0.0003     0.001    310.30    142.51      0.28
  M6    0.2415342     0.0002     0.001    348.00    207.18     0.065
  2MS6  0.2443561     0.0000     0.001    264.24    252.77    0.0011
  2MK6  0.2445843     0.0003     0.001    224.01    155.36      0.15
  2SM6  0.2471781     0.0001     0.001    109.12    247.77     0.021
  MSK6  0.2474062     0.0006     0.001    175.54    110.71      0.54
  3MK7  0.2833149     0.0006     0.001    200.67     89.83      0.67
  M8    0.3220456     0.0002     0.000    309.43    132.46      0.29

/home/killgor/anaconda3/lib/python3.7/site-packages/ttide-0.3_exp-py3.7.egg/ttide/t_utils.py:447: FutureWarning: `real` is deprecated and will be removed in a future version. To eliminate this warning for a Series `ser`, use `np.real(ser.to_numpy())` or `ser.to_numpy().real`.
  x = np.var(out['xingd'].real, ddof=1)
/home/killgor/anaconda3/lib/python3.7/site-packages/ttide-0.3_exp-py3.7.egg/ttide/t_utils.py:449: FutureWarning: `real` is deprecated and will be removed in a future version. To eliminate this warning for a Series `ser`, use `np.real(ser.to_numpy())` or `ser.to_numpy().real`.
  xr = np.var(out['xresgd'].real, ddof=1)

In [27]:
df2.index[-1]

Timestamp('2018-12-30 23:59:19')

In [28]:
out.keys()

dict_keys(['nobs', 'ngood', 'dt', 'xin', 'xout', 'xres', 'xingd', 'xoutgd', 'xresgd', 'isComplex', 'ray', 'nodcor', 'z0', 'dz0', 'fu', 'nameu', 'tidecon', 'snr', 'synth', 'lat', 'ltype', 'stime'])

In [ ]:
dates = read_csv('predictions.csv',sep=',', header=0, index_col=0, squeeze=True, parse_dates=True)

In [ ]:
#getting te timestamp

In [41]:
ttide.t_predic(df2.values, out.get("nameu"), out.get("fu"), out.get("tidecon"), lat)

array([nan, nan, nan, ..., nan, nan, nan])